# Python caches
__pycache__/
*.py[cod]
.Python

# Data-related files
*.csv
*.h5
*.pkl

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db
deploy.json
